@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Bhai 2", cursive;
  font-family: "Lobster", cursive;
  background-color: #fffafa;
}
.menu-btn {
  width: 28px;
  margin-left: 20px;
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-left: 25px;
}

.subheading{
  margin: 30px auto 30px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  margin-bottom: 10px;
}
.col2 {
  flex-basis: 50%;
  min-width: 300px;
  margin-bottom: 10px;
  display: inline;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.col-4 img {
  width: 100%;
  width: 200px;
  height: 259px;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  /* padding-left: 134px; */
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
  cursor: pointer;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating {
  color: #ff523b;
}

.col-4:hover {
  transform: translateY(-5px);
}

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 img {
  padding: 50px;
}

small {
  color: #555;
}

.testimonial {
  padding-top: 100px;
  margin-bottom: 5px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.maps iframe{
  text-align: center;
  padding: 5px 5px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.maps iframe:hover{
  transform: translateY(-10px);

}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa-quote-left:before {
  content: "\f10d";
  font-size: 27px;
  color: #ff523b;
}

.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.rowm {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

/* footer */
footer {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}
.footer {
  background: radial-gradient(#fff, #ffd6d6);
  /* background: black; */
  padding: 70px 0;
}
.containerfooter {
  max-width: 1170px;
  margin: auto;
  /* margin: 0 60px; */
}

.rowfooter {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #555;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col ul {
  list-style: none;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #555;
  text-decoration: none;
  font-weight: 300;
  color: #555;
  display: block;
  transition: all 0.3s ease;
}
.footer-title {
  /* text-align: center; */
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.footer-col ul li a:hover {
  color: #555;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #555;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 10px 0 2px 0;
}
.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 21px;
}

.fa-arrow-alt-circle-up {
  width: 25px;
}

/* all products */

.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}
select{
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus{
  outline: none;
}
.page-btn{
  margin: 0 auto 80px;
}
.page-btn span{
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover{
  background: #ff523b;
  color: #fff;
}



.maps{
  margin: 10px 0;
}
h4{
  color: black;
}
.shopimg{
  max-width: 651px; 
}


/* media quuery */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 125px;
    background: #333;
    width: 100%;
    left: 0%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-btn {
    display: block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
  .singleproduct .row{
    text-align: left;
  }
  .singleproductv.col-2{
    padding: 20px 0;
  }
  .singleproduct h1{
    font-size: 26px;
    line-height: 32px;
  }
  .cartinfo p{
    display: none;
  }
}


.singleproduct{
  margin-top: 80px;

}
.singleproduct .col-2 img{
  padding: 20px;

}
.singleproduct .col-2 h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
/* .singleproduct .col-2 select{
  display: block;
  padding: 10px;
  margin-top: 20px;
} */

.singleproduct .col-2 input{
  width:50px ;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

.singleproduct .col-2 input:focus{
  outline: none;
}

.singleproduct .fa{
  color:#ff523b ;
  margin-left: 10px;
}

.small-img-row{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
.small-img-col img{
  padding: 5px;
}
.aboutimg{
  width: 100%;
}
.imgsmall{
  width: auto;
  height: 100px;
}
#productimg{
  width: auto;
  height: 500px;
}

/* .address{
  
} */

/*----------- cart -----------*/

.cartpage{
  margin: 80px auto;
}
table{
  width:100%;
  border-collapse: collapse;
}

.cartinfo{
  display: flex;
  flex-wrap: wrap;

}
th{
  text-align: left;
  padding: 5px;
  color: white;
  background: #ff523b;
  font-weight: normal;
}
td{
  padding: 10px 5px;
}
td input{
  width:40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #ff523b;

}
td img{
  width: 80px;
  height: 80px;
}
.totalprice{
  display: flex;
  justify-content: flex-end;
}
.totalprice table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}


/* login page  */

.accountpage{
  padding:50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}